* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    scroll-behavior: smooth;
    line-height: 1.5em;
    transition: all 0.5;
}

body, html {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2d8d8;
}

main, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100vw;
    gap: 1.5rem;
}

main {
    background-color: azure;
}

.apresentacao {
    display: flex;
    background-color: #f0c4c4;
    padding: 25px;   
    width: 100%;
    gap: 1.5rem;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fotoPerfil {
    border-radius: 100%;
    width: 250px;

}

.conteudoApresentacao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.habilidades {
    display: flex;
    flex-direction: column;
}

.hardSkills, .extras {
    background-color: #a0d0d0;
}

.softSkills, .hardSkills, .extras, .portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 1rem;
}

.softSkills ul, .hardSkills ul, .extras ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
        
}

.portifolio, .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;

}

.imagensPortifolio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.portifolio img {
    height: 400px;
    border-radius: 15px;
}

li {
    list-style-type: none;
}

.extras > ul > li {
    width: 45%;
}

.botaoInicio {
    position: fixed;
    left: 1850px;
    bottom: 15px;
    font-size: 35px;
    color: white;
}

.softSkills > ul > li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.softSkills > ul > li > img {
    border-radius: 15px;
    width: 320px;
}

.calma {
    margin-right: 91px;
}

.liderenca {
    margin-right: 55px;
}

.extras > ul > li {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1750px;
    top: 250px;
    font-size: 1.5rem;        
}

.menuLateral > ul > li > a {
    text-decoration: none;
    color: black;
}

.menuLateral > ul > li > a:hover {
    color: gray;
}

@media (max-width:425px) {

    .conteudoApresentacao {
        flex-direction: column;

    }

    img.fotoPerfil {
        width: 50vw;
    }
    .softSkills > ul > li > img {
        width: 75vw;
        order: -1;
    }
    .softSkills > ul > li > h3 {        
        order: -2;
    }


    li {
        flex-direction: column;
    }
    .calma, .liderenca{
        margin: 0;
    }

    .extras > ul > li > img {
        width: 75vw;
    }

    .extras > ul > li {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }   
}

