* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(162, 216, 216);
}

main, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    gap: 1.5rem;
}

main {
    background-color: azure;
}

.apresentacao {
    display: flex;
    background-color: rgb(240, 196, 196);
    padding: 25px;   
    width: 100%;
    gap: 1.5rem;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fotoPerfil {
    border-radius: 100%;
    width: 250px;
}

.habilidades {
    display: flex;
    flex-direction: column;
}

.softSkills, .hardSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 1rem;
}

.softSkills ul, .hardSkills ul, .extras ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
        
}

.portifolio, .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;

}

.imagensPortifolio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portifolio img {
    height: 400px;
}

li {
    list-style-type: none;
}







