* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    scroll-behavior: smooth;
    line-height: 1.5em;
    transition: all 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2d8d8;
    background-image: url(../imgs/seraphine.jpeg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;    
    background-attachment: fixed;
}

main, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 75vw;    
}

main {
    background-color: #055f5f;
    background: linear-gradient(#90dbdb 20%, #48a5a5 70%);   
    margin-top: 45vh;
}

.apresentacao {
    display: flex;
    background-color: azure;
    padding: 25px;   
    width: 100%;
    gap: 1.5rem;    
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fotoPerfil {
    border-radius: 100%;
    width: 250px;

}

.conteudoApresentacao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.habilidades {
    display: flex;
    flex-direction: column;
}

.hardSkills, .extras {
    background-color: #a0d0d0;
}

.softSkills, .hardSkills, .extras, .portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 1rem;
    background-color: white;
}

.softSkills ul, .hardSkills ul, .extras ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
        
}

.portifolio, .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;

}

.imagensPortifolio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.portifolio img {
    height: 600px;
    border-radius: 15px;
}

li {
    list-style-type: none;
}

.extras > ul > li {
    width: 45%;
}


.softSkills > ul > li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.softSkills > ul > li > img {
    border-radius: 15px;
    width: 320px;
}

.calma {
    margin-right: 91px;
}

.liderenca {
    margin-right: 55px;
}

.extras > ul > li {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2%;
    top: 35%;
    font-size: 1.5rem;  
          
}

.menuLateral > ul > li > a {
    text-decoration: none;
    color: white;
    
}

.menuLateral > ul > li > a:hover {
    color: gray;
}

.hardSkills > img {
    width: 10vw;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

header > h1 {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

.xayah {
    width: 100px;
    border-radius: 100%;

}

.jogosOnline, .esportes {
    align-items: center;
}

.esportes > img {
    width: 100px;
    
}

.texto {
    font-size: 1.3rem;
    display: inline-block;
}

h3 {
    font-size: 1.5rem
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}

h1 {
    font-size: 1.9rem;
}

main, .apresentacao {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main, .extras {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.extras > ul > li > p > a:hover {
    border-bottom: solid 2px;
}

.gambiarraJogosOnline {
    margin-left: 36px;
    text-align: center;
    width: 152px;
}

.hardSkills, .softSkills, .extras, .softSkills, .portifolio, .apresentacao {
    background-color: transparent;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 750px;
    
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;
  }

  progress[value]::-webkit-progress-value {
    background-color: #99678e;
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
      border-radius: 15px;
  }

.hardSkills > ul > li {
    display: flex;
    flex-direction: column;
}

.hardSkills > ul > li > progress {
    align-self: center;
}


@media (max-width:425px) {

    .conteudoApresentacao {
        flex-direction: column;

    }

    img.fotoPerfil {
        width: 50vw;
    }
    .softSkills > ul > li > img {
        width: 60vw;
        order: -1;
    }
    .softSkills > ul > li > h3 {        
        order: -2;
    }


    li {
        flex-direction: column;
    }
    .calma, .liderenca{
        margin: 0;
    }

    .extras > ul > li {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }   
    .menuLateral > ul > li > a {
        display: none;

    }

    .hardSkills > img {
        width: 75%;
    }

    .portifolio img {
        height: 450px;
    }

    .ferumbras {
        width: 35vw;
    }

    .xayah {
        width: 60vw;
    }

    .esportes > img {
        width: 60vw;
        border-radius: 15px;
    }

    .gambiarraJogosOnline {
        margin-left: 0px;
        text-align: center;
        width: 152px;
    }
    
}

